.search-display {
    border: 3px solid #3b4cca;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 0.5em;
}
.search-display > div {
    margin: 0.5em;
}
.poke-nick {
    border-radius: 5px;
    size: 1.2em;
}
.card-container {
    width: 16em;
    border-radius: 15px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border: 8px solid #b3a125;
    /* height: 25em; */
}
.pName {
    text-align: center;
    text-transform: capitalize;
}
.pHP {
    text-align: right;
    padding-left: 2em;
}
.top-row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.pokemon-img {
    width: 7em;
    align-self: center;
}